# Projeto Final {RE}PROGRAMA - Python: fundamentos e analise de dados
### Aluna: Nargylla Fernanda Cloviel Lima

#### fazendo a junção de datasets (Desastres, estresses hidricos, mortalidade por agua)

In [14]:
import pandas as pd

In [15]:
df_desastres = pd.read_csv("C:\\Users\\nargy\\Desktop\\Projeto final\\ECOLENS\\Dados_limpos\\Desastres_naturais_limpos.csv")
df_desastres

,Unnamed: 0,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Country,ISO,Region,Continent,End Year,Total Deaths
0,13272,2016,175,Natural,Meteorological,Storm,Bangladesh,BGD,Southern Asia,Asia,2016,28.0
1,13273,2016,117,Natural,Geophysical,Earthquake,Ecuador,ECU,South America,Americas,2016,672.0
2,13274,2016,95,Natural,Hydrological,Flood,China,CHN,Eastern Asia,Asia,2016,5.0
3,13275,2016,340,Natural,Meteorological,Storm,China,CHN,Eastern Asia,Asia,2016,NaN
4,13276,2016,137,Natural,Hydrological,Flood,China,CHN,Eastern Asia,Asia,2016,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2209,16121,2021,449,Natural,Hydrological,Flood,Yemen,YEM,Western Asia,Asia,2021,11.0
2210,16122,2021,75,Natural,Hydrological,Flood,South Africa,ZAF,Southern Africa,Africa,2021,31.0
2211,16123,2021,599,Natural,Biological,Epidemic,Congo (the Democratic Republic of the),COD,Middle Africa,Africa,2021,131.0
2212,16124,2021,20,Natural,Hydrological,Flood,Serbia,SRB,Southern Europe,Europe,2021,NaN
2213,16125,2021,481,Natural,Hydrological,Flood,South Sudan,SSD,Northern Africa,Africa,2021,7.0

In [16]:
df_desastres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2214 entries, 0 to 2213
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2214 non-null   int64
 1   Year               2214 non-null   int64
 2   Seq                2214 non-null   int64
 3   Disaster Group     2214 non-null   object
 4   Disaster Subgroup  2214 non-null   object
 5   Disaster Type      2214 non-null   object
 6   Country            2214 non-null   object
 7   ISO                2214 non-null   object
 8   Region             2214 non-null   object
 9   Continent          2214 non-null   object
 10  End Year           2214 non-null   int64
 11  Total Deaths       1544 non-null   float64
dtypes: float64(1), int64(4), object(7)
memory usage: 207.7+ KB

In [17]:
países_existentes = df_desastres['Country'].unique()
print(países_existentes)

['Bangladesh' 'Ecuador' 'China' 'Fiji' 'Afghanistan'
 'Bolivia (Plurinational State of)' 'Brazil' 'Ethiopia' 'Canada'
 'Australia' 'Belgium' 'Bahamas (the)' 'France' 'Angola' 'Argentina'
 'Austria' 'Burkina Faso' 'Belize' 'Central African Republic' 'Chile'
 'Côte d’Ivoire' 'Cuba' 'Germany' 'Dominican Republic (the)' 'Ghana'
 'Greece' 'Guatemala' 'Honduras' 'Nigeria' 'Myanmar'
 'Macedonia (the former Yugoslav Republic of)' 'Russian Federation (the)'
 'Mexico' 'Netherlands (the)' 'Morocco' 'Haiti' 'Indonesia' 'India'
 'Japan' 'Sri Lanka' 'Nepal' 'Pakistan' 'Peru' 'Rwanda' 'Kenya'
 'Saint Lucia' 'Cambodia' 'Lesotho' 'Madagascar' 'Mozambique' 'Poland'
 'Italy' 'Jamaica' 'Korea (the Republic of)'
 "Lao People's Democratic Republic (the)" 'Liberia' 'Mali' 'Malawi'
 'Malaysia' 'Niger (the)' 'New Zealand' 'Oman' 'Philippines (the)'
 "Korea (the Democratic People's Republic of)" 'Portugal' 'Paraguay'
 'Romania' 'Saudi Arabia' 'Sudan (the)' 'Somalia' 'Swaziland' 'Seychelles'
 'Thailand' 'United States of America (the)' 'Uruguay' 'Tajikistan'
 'Taiwan (Province of China)' 'Colombia' 'Costa Rica' 'Egypt'
 'South Sudan' 'Tonga' 'Tanzania, United Republic of' 'Uganda' 'Ukraine'
 'Saint Vincent and the Grenadines' 'Viet Nam' 'Yemen' 'South Africa'
 'Serbia' 'Timor-Leste' 'Albania' 'Armenia' 'Burundi' 'Benin' 'Spain'
 'Micronesia (Federated States of)' 'Dominica' 'Guadeloupe' 'Belarus'
 'Algeria' 'Anguilla' 'United Arab Emirates (the)' 'Antigua and Barbuda'
 'Barbados' 'Botswana' 'Switzerland' 'Cameroon' 'Czech Republic (the)'
 'United Kingdom of Great Britain and Northern Ireland (the)' 'Guinea'
 'Djibouti' 'Bulgaria' 'Estonia' 'Georgia' 'Guinea-Bissau'
 'Bosnia and Herzegovina' 'Comoros (the)' 'Congo (the)' 'Panama' 'Hungary'
 'Iran (Islamic Republic of)' 'Israel' 'Mongolia' 'Nicaragua' 'Macao'
 'Puerto Rico' 'Martinique' 'Hong Kong' 'Croatia' 'Mauritania' 'Guyana'
 'Ireland' 'Iraq' 'Kazakhstan' 'Kyrgyzstan' 'Saint Kitts and Nevis'
 'Namibia' 'French Polynesia' 'Papua New Guinea' 'Latvia' 'Mauritius'
 'Réunion' 'Jordan' 'Kuwait' 'Lebanon' 'Lithuania'
 'Marshall Islands (the)' 'Palau' 'Qatar' 'Moldova (the Republic of)'
 'Libya' 'Maldives' 'Norway' 'Solomon Islands'
 'Congo (the Democratic Republic of the)' 'Zimbabwe' 'Senegal' 'Singapore'
 'Venezuela (Bolivarian Republic of)' 'Vanuatu' 'Virgin Island (U.S.)'
 'Turkey' 'Sierra Leone' 'El Salvador' 'Togo' 'Tunisia'
 'Turks and Caicos Islands (the)' 'Saint Barthélemy' 'Chad' 'Cabo Verde'
 'Slovakia' 'Virgin Island (British)' 'Zambia' 'Montenegro'
 'Saint Martin (French Part)' 'Sint Maarten (Dutch part)'
 'Trinidad and Tobago' 'Sweden' 'Samoa' 'Northern Mariana Islands (the)'
 'Syrian Arab Republic' 'Eritrea' 'Bhutan' 'Cyprus' 'Gambia (the)'
 'Luxembourg' 'Palestine, State of' 'French Guiana' 'Isle of Man'
 'Slovenia' 'Tuvalu' 'New Caledonia' 'Canary Is' 'Suriname' 'Uzbekistan']

In [21]:
paises_subsarianos = ['Angola', 'Burkina Faso', 'Central African Republic', 'Ethiopia', 'Ghana', 'Kenya', 'Lesotho', 'Madagascar', 'Mozambique', 'Nigeria', 'Rwanda', 'Senegal', 'Seychelles', 'Somalia', "Cote d'Ivoire"
 'South Africa', 'South Sudan', 'Sudan', 'Swaziland', 'Tanzania, United Republic of', 'Uganda', 'Zambia', 'Zimbabwe']

df_desastres = df_desastres[df_desastres['Country'].str.contains('|'.join(paises_subsarianos))]
df_desastres

,Unnamed: 0,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Country,ISO,Region,Continent,End Year,Total Deaths
13,13285,2016,101,Natural,Hydrological,Flood,Ethiopia,ETH,Eastern Africa,Africa,2016,28.0
14,13286,2016,186,Natural,Hydrological,Flood,Ethiopia,ETH,Eastern Africa,Africa,2016,100.0
29,13301,2016,56,Natural,Hydrological,Flood,Angola,AGO,Middle Africa,Africa,2016,54.0
30,13302,2016,88,Natural,Hydrological,Flood,Angola,AGO,Middle Africa,Africa,2016,6.0
31,13303,2016,131,Natural,Hydrological,Flood,Angola,AGO,Middle Africa,Africa,2016,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2169,16081,2021,637,Natural,Hydrological,Flood,Uganda,UGA,Eastern Africa,Africa,2021,1.0
2184,16096,2021,36,Natural,Meteorological,Storm,Zimbabwe,ZWE,Eastern Africa,Africa,2021,3.0
2185,16097,2021,9639,Natural,Climatological,Drought,South Sudan,SSD,Northern Africa,Africa,2021,NaN
2188,16100,2021,240,Natural,Hydrological,Flood,Uganda,UGA,Eastern Africa,Africa,2021,1.0
2213,16125,2021,481,Natural,Hydrological,Flood,South Sudan,SSD,Northern Africa,Africa,2021,7.0

In [22]:
df_desastres = df_desastres.reset_index(drop=True)
df_desastres

,Unnamed: 0,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Country,ISO,Region,Continent,End Year,Total Deaths
0,13285,2016,101,Natural,Hydrological,Flood,Ethiopia,ETH,Eastern Africa,Africa,2016,28.0
1,13286,2016,186,Natural,Hydrological,Flood,Ethiopia,ETH,Eastern Africa,Africa,2016,100.0
2,13301,2016,56,Natural,Hydrological,Flood,Angola,AGO,Middle Africa,Africa,2016,54.0
3,13302,2016,88,Natural,Hydrological,Flood,Angola,AGO,Middle Africa,Africa,2016,6.0
4,13303,2016,131,Natural,Hydrological,Flood,Angola,AGO,Middle Africa,Africa,2016,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...
253,16081,2021,637,Natural,Hydrological,Flood,Uganda,UGA,Eastern Africa,Africa,2021,1.0
254,16096,2021,36,Natural,Meteorological,Storm,Zimbabwe,ZWE,Eastern Africa,Africa,2021,3.0
255,16097,2021,9639,Natural,Climatological,Drought,South Sudan,SSD,Northern Africa,Africa,2021,NaN
256,16100,2021,240,Natural,Hydrological,Flood,Uganda,UGA,Eastern Africa,Africa,2021,1.0
257,16125,2021,481,Natural,Hydrological,Flood,South Sudan,SSD,Northern Africa,Africa,2021,7.0

In [24]:
df_estresse = pd.read_csv("C:\\Users\\nargy\\Desktop\\Projeto final\\ECOLENS\\Dados_limpos\\Estresse Hídrico.csv")
df_estresse

,VariableGroup,Subgroup,Variable,Country,Year,Value,Unit,Symbol
0,Water use,Pressure on water resources,SDG 6.4.2. Water Stress,Afghanistan,2020,54.76,%,E
1,Water use,Pressure on water resources,SDG 6.4.2. Water Stress,Albania,2020,4.72,%,E
2,Water use,Pressure on water resources,SDG 6.4.2. Water Stress,Algeria,2020,137.92,%,E
3,Water use,Pressure on water resources,SDG 6.4.2. Water Stress,Angola,2020,1.87,%,E
4,Water use,Pressure on water resources,SDG 6.4.2. Water Stress,Antigua and Barbuda,2020,8.46,%,I
...,...,...,...,...,...,...,...,...
173,Water use,Pressure on water resources,SDG 6.4.2. Water Stress,Venezuela (Bolivarian Republic of),2020,7.54,%,E
174,Water use,Pressure on water resources,SDG 6.4.2. Water Stress,Viet Nam,2020,18.13,%,E
175,Water use,Pressure on water resources,SDG 6.4.2. Water Stress,Yemen,2020,169.76,%,I
176,Water use,Pressure on water resources,SDG 6.4.2. Water Stress,Zambia,2020,2.84,%,E
177,Water use,Pressure on water resources,SDG 6.4.2. Water Stress,Zimbabwe,2020,35.41,%,E

In [25]:
paises_existen = df_desastres['Country'].unique()
print(paises_existen)

['Ethiopia' 'Angola' 'Burkina Faso' 'Central African Republic' 'Ghana'
 'Nigeria' 'Rwanda' 'Kenya' 'Lesotho' 'Madagascar' 'Mozambique'
 'Sudan (the)' 'Somalia' 'Swaziland' 'Seychelles' 'South Sudan'
 'Tanzania, United Republic of' 'Uganda' 'Zimbabwe' 'Senegal' 'Zambia']